<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>CLick N Reveal</title>

<link rel="stylesheet" href="course1/css/ClickNReveal.css">
<link rel="stylesheet" href="" changetheme='true'>

<script src="js/controller/Templates/common/Popup_01.js"></script>
<script src="js/controller/Templates/common/Clickable_Image.js"></script>
<script src="js/controller/Templates/ClickNLearn/ClickNReveal.js"></script>
 <script>
	var clickData = {};
	$(document).ready(function(){
       trace("loaded ClickNReveal");
       clickData = Parser.loadClickNLearnDataFn(DataManager.templateXMLData);	   
       ClickNReveal.initTabs(clickData);
	});
</script>
<style>
	.tempClick{
		display: none;
	}
	#showCloseInstruction{
		display:none;
	}
	#LastContainer{
		display:none;
	}
</style>
</head>

<body>
	<div class="wrapper">
	
	<section class="mainContent">
		<div id="clickContainer" class="clickIntHolder">
			<ul id="clickHolder" class="itemList">
				<li id="instructionTxt" class="itemFirst clickItem">
					<p>Click here</p>
				</li>
				<li class="clickItem tempClick">
					<div class="inneritem">
						<span id="heading" class="heading"><p>Cost of dismantlement removal, and restoration</p></span>
						<div id="imgHolder" class="image"><img src="../../assets/images/dummyImage.jpg"/>
						<span id="stateMc" class="imageZoom">+</span>
						</div>
					</div>
				</li>
			</ul>
		<div class="clear"></div>
        <div id="popupContainer">
			<div class="clickIntPopup">
				<div class="clickIntHeader">
					<span id="popupHeader" class="clickIntHeadTxt">Cost of dismantlement removal, and restoration</span>
					<span id="popupClose" class="clickIntClose"></span>
				</div>
				<div id="popupContent" class="clickIntpopupTxt">
					<p>popup Content will appear here</p>
				</div>
			</div>
		</div>
		<!-- <div id="LastContainer">
			<div id="lastContentHolder">
				<div id="lastImg"><img src="../../assets/images/dummyImage.jpg"/></div>
				<div id="lastContent"></div>
			</div>
		</div>
		<div id="showCloseInstruction">Click close button to continue</div>
		</div> -->
		
	</section>
</div>
</body>
</html>