<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>Link Click</title>
<link rel="stylesheet" href="../../assets/css/templates/imageHotspotT2.css" />
<link rel="stylesheet" href="assets/css/styles.css" />
<link rel="stylesheet" href="" changetheme='true'>

</head>
<body>

<div class="wrapper">	
	<div id="linkOverlay"></div>
	<section id="activityContainer" class="mainContent">
		<div class="hotspotWrap">
			<div id="linkActivityHolderId" class="linkContent">
				<div class="infoSec">Fill in the blanks and click <strong>Submit</strong>.</div>
				<div class="contentSec">
						<div class="hotspotimgCnt">
							<img src="../../assets/images/imageHotspot.jpg" class="hotspotimg"/>
                        </div>
						<div class="contentTxt">
							<h1>Click 01</h1>
							<p>By the end of this course, you should be able to:</p>
							<ul>
								<li class="square">Explain tangible and intangible assets related to tangible and intangible assets.</li>
								<li class="square">Assess the appropriateness of accounting for subsequent costs related to tangible and intangible assets.</li>
								<li class="square">Identify the major recognition and measurement differences between IFRS and U.S. GAAP with respect to accounting for tangible and intangible assets for tangible and intangible assets.</li>
								<li class="square">Accounting the appropriateness of accounting for subsequent costs related to tangible and intangible assets for tangible and intangible.</li>
							</ul>
						</div>
						<div class="clear"></div>
				</div>
			</div>
			<div id="linkActFeedbackBox" class="feedBackPopup">
				<div class="feedBackContent">
					<div id="linkActFeedbackHeader" class="titleTxt">
						<span id="linkHeading">Description</span>
						<div id="linkDesClose" class="popupClose">Close</div>
					</div>
					<div id="linkActFeedbackContent" class="feebackText">Feedback text will appear here</div>
				</div>
			</div>
			
		</div>
		
	</section>
</div>

</body>
</html>