<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>Link Click</title>
<link rel="stylesheet" href="../../assets/css/templates/imageHotspot.css" />
<link rel="stylesheet" href="assets/css/styles.css" />
<link rel="stylesheet" href="" changetheme='true'>

</head>
<body>

<div class="wrapper">	
	<div id="linkOverlay"></div>
	<section id="activityContainer" class="mainContent">
		<div class="hotspotWrap">
			<div id="linkActivityHolderId" class="linkContent">
				<div class="infoSec">Fill in the blanks and click <strong>Submit</strong>.</div>
				<div class="contentSec">
						<div class="hotspotimgCnt">
							<img class="hotspotimg" src="../../assets/images/imageHotspot.jpg" border="0" usemap="#Map"/>
                            <map name="Map">
                              <area shape="circle" coords="492,125,47" href="#">
                            </map>
                        </div>
						<div class="contentTxt"></div>
				</div>
			</div>
			<div id="linkActFeedbackBox" class="feedBackPopup">
				<div class="feedBackContent">
					<div id="linkActFeedbackHeader" class="titleTxt">
						<span id="linkHeading">Description</span>
						<div id="linkDesClose" class="popupClose">Close</div>
					</div>
					<div id="linkActFeedbackContent" class="feebackText">Feedback text will appear here</div>
				</div>
			</div>
			
		</div>
		
	</section>
</div>

</body>
</html>