<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>MCSS</title>

    <link rel="stylesheet" href="assets/css/templates/knowledgeCheck_mcss.css">
    <link rel="stylesheet" href="" changetheme='true'>

    <script type="text/javascript" src="js/controller/Templates/common/SubmitButton.js"></script>
    <script type="text/javascript" src="js/controller/Templates/common/Feedback.js"></script>
    <script type="text/javascript" src="js/controller/Templates/common/Option.js"></script>
    <script src="js/controller/Templates/common/Fof.js"></script>
    <script src="js/controller/Templates/common/Detail.js"></script>
    <script type="text/javascript" src="js/controller/Templates/MCSS/MCSSController.js"></script>

    <script>
        var mcssData = {};
        $(document).ready(function() {
            mcssData = Parser.loadMCSSDataFn(DataManager.templateXMLData);
            MCSS.initMCSS(mcssData);
        });

        function pageAudioHandler(currTime, totTime) {
            MCSS.pageAudioHandler(currTime, totTime);
        };
    </script>
</head>

<body>

    <div class="wrapper">
        <section id="mcssContainer" class="mainContent">
            <div id="imgHolder"></div>
            <div id="mcssHolder" class="mcssWrap">
                <div class="mcssQuestion">
                    <div class="imgSec">
                        <div class="sub_txt">Q.</div>
                    </div>
                    <div class="questSec">
                        <div id="mcssQuestionTxt" class="question"> Question </div>
                    </div>
                </div>

                <div class="mcssOption_with_image">
                    <div class="mcssContainer">
                        <div id="mcssInstructionTxt" class="mcssInstruction">
                            Select the correct option, and then click <strong>Submit</strong>.
                        </div>
                        <div id="mcssOptionContainer" class="optionContainer">
                            <div class="row cloneOption">
                                <div class="optionIcons">
                                    <div id="tickCross" class="tickIco"></div>
                                    <div id="optionBox" class="radio"></div>
                                </div>
                                <div class="optionText">
                                    <div id="optionTxt" class="txt">
                                        <span>Options</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="mcssFeedbackBox">
                            <div id='feedbackHeader' class='header'>
                                <span id='headerContent'>Feedback</span>
                                <span id='feedbackClose' class="closeIcon"></span>
                            </div>
                            <div id="correctAnswerContent"></div>
                            <div id='feedbackContent'></div>
                        </div>


                    </div>
                    <div id="imageHolder" class="imageHolder"></div>
                    <div id="mcssNextBtn" class="nextBtn floatRht">
                        <input type="button" value="Next" class="btn_next">
                    </div>
                    <div id="mcssSubmitBtn" class="submitBtn floatRht">
                        <div type="button" class="btn_submit">Submit</div>
                    </div>

                </div>

                <!--<div  class="imgSection" ></div>
					<div class="clear"></div>-->
            </div>
            <div id="buttons_holder">
                <div id="fof_button_holder">
                    <a href="#" id="fof_button"></a>
                </div>
                <div id="fof_note" class="fof_note">
                    <p>
                        Select the From our Files icon to read a real-life KPMG ethics case.
                    </p>
                </div>

                <div id="details_button_area">
                    <a href="#" id="details_button"></a>
                </div>
            </div>
        </section>
    </div>

</body>

</html>