<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<title>Text Image template</title>
<link rel="stylesheet" href="assets/css/templates/textImage.css">
<link rel="stylesheet" href="" changetheme='true'>

<script src="js/controller/Templates/TextImageController.js"></script>
<script>	
	var textImageData = {};	
	$(function(){
		textImageData = Parser.loadTextImageDataFn(DataManager.templateXMLData);	
		TextImageObj.initTextSection(textImageData);		
	});	
</script>
</head>

<body>
	<div class="wrapper">	
	<section class="mainContent">
		<div class="txtimgWrap">
			<div id="textImageContainer" class="txtimgContainer bgImage">
				<div class="txtimgHeader">
					<p>Objectives</p>
				</div>
				<div class="middleContainer">
					<div id="sectionHolder" class="dataContainer">
						<div id="contentHolder" class="txtHolder">
							<p>By the end of this course, you should be able to:</p>
							<ul>
								<li>Explain tangible and intangible assets.</li>
								<li>Explain the recognition and measurement criteria for tangible and intangible assets.</li>
								<li>Assess the appropriateness of accounting for subsequent costs related to tangible and intangible assets.</li>
							</ul>
						</div>
						<div id="imageHolder" class="imageHolder">
						</div>
					</div>					
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</section>	
</div>
</body>
</html>