

/* MCSS / MCMS */
.cloneOption, .hiddenOption{
	display: none;
}

.list_alpha{
	float:left;
	height:auto !important;
	margin-right:5px;
}

.mcssWrap{
    max-width: 85%;
	margin: 0 auto;
	padding: 0;
	font-size: 13px;
	position: relative;
}
.mcssWrap .scenarioTxt{
    /*margin-top: 26px;*/
	color: #E88729;
    font-size: 22px;
    text-align: center;
}
.mcmsContainer{
    margin: 55px 0 0;
	position:relative;
}
.mcmsContainer .container {
	height: auto !important;
}
#mcmsHolder .mcmsContainer{
	margin:0;
}
.mcssQuestion{
    width: 100%;
    min-height: 88px;
    color: #FFF;
    position: relative;
    background: #0091da;
}
.mcssQuestion .imgSec{
    width: 50px;
    height: 105px;
    float: left;
    color: #FFF;
    text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}
.mcssQuestion .questStatus{
	font:12px/normal Arial;
}
.mcssQuestion .questSec{
	min-height: 85px;
	padding: 10px 0;
	border-left: 50px solid #4db2e5;
}
.mcssQuestion .questSec .question{	
    height: 85px;
    display: table-cell;
    font-size: 15px;
    color: #FFF;
    padding: 0 8px 0 35px;
    vertical-align: middle;
}
.optionContainer{
    width: 100%;
	background: #f0f0f0;
	padding-top: 10px;
}
.optionContainer .row{
	position: relative;
}
.optionIcons{
	float: left;
    width: 85px;
    height: auto;
	position: absolute;
	left: 0;
	top: 0;
}
.tickIco {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 15px;
    left: 9px;
    background: url(../../images/kc_assets.png) no-repeat -106px -26px;
}
.tickIco.mcssTick {
	background-position: -106px -26px;
}
.tickIco.mcssCross {
    background-position: -153px -26px;
}
.optionIcons .checkBox, .optionIcons .radio {
    width: 18px;
    height: 18px;
    margin: 16px 0 0 38px;
    position: absolute;
    cursor: pointer;
    background: url(../../images/kc_assets.png) no-repeat -22px -51px;
}
.optionIcons .checkBox.MCMSbulletPointsSelected{
	background-position: -57px -51px;
}

.optionIcons .checkBox.MCMSBulletPointsDisabled{
	cursor:default;
}
.optionIcons .radio{
	background-position: -22px -24px;	
}
.optionIcons .radio.MCSSbulletPointsSelected{
	background-position: -57px -24px;	
	cursor:default;
}
.optionIcons .radio.MCSSbulletPointsDisable{
	cursor:default;
}

.optionText{
    min-height: 25px;
	height:auto !important;
    margin: 0;
    padding: 7px 20px 7px 85px;
	font-size: 15px;
	color: #333333;
	background: #f0f0f0;
}
.optionText .txt{
	display:table;
}
.optionText .txt span{
	display:table-cell;
	height:auto;
	vertical-align:middle;
}
.floatlft{
    float: left;	
}
.floatRht{
    float: right;
}
.mcssinst {font-size: 15px;}
/* .optionIcons .radio.MCSSbulletPointsSelected {
	background: #f68d39 !important;
} */

/* for Note 8 landscape*/
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (device-aspect-ratio : 8/5) and (-webkit-min-device-pixel-ratio : 1.33) and (orientation : landscape){
.mcssWrap{width:90%;
	margin-top:20px;}
#mcmsHolder .mcmsContainer{ margin:20px 0 0;}
.mcmsContainer{ margin: 10px 0 0;}
.mcssWrap .scenarioTxt{margin: 1px 0px 0px 0px;}
/*.feedBackContent {right: -282px;top: -263px;}*/
}

/* for Note 8 Portrait*/
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (device-aspect-ratio : 5/8) and (-webkit-min-device-pixel-ratio : 1.33) and (orientation : portrait){
.mcssWrap{max-width:85%;
	margin-top:180px;}


.mcmsContainer{ margin: 15px 0 0;}
.mcssWrap .scenarioTxt{ margin-top: 26px;}
#div_11{top: 0px !important;}
#div_12{top: 7px !important;}
/* .feedBackContent { right: -7px; top: 1px;} */

}

/*note 8 fixes*/
@media only screen and (min-width:600px) and (max-width :962px)  and (orientation : landscape){	}
@media only screen and (min-width:600px) and (max-width :962px) and (-webkit-min-device-pixel-ratio : 1.33) and (orientation : landscape) {
	.mcssWrap{    padding-top: 10px;}	
	.mcssInstruction {   
    width: 100%;
    float: left;
    clear: both;
    box-sizing: border-box;
	}
	.mcssinst{float: left;}
}

@media only screen and (min-width:600px) and (max-width :767px)  and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 1.33){
@media only screen and (min-width:600px) and (max-width :962px) and (-webkit-min-device-pixel-ratio : 1.33) and (orientation : landscape) {
	.mcssWrap{    padding-top: 10px;}	
	.mcssInstruction {   
    width: 100%;
    float: left;
    clear: both;
    box-sizing: border-box;
	}
	.mcssinst{float: left;}	
	
}




