.cnl_v2_Wrap{
	max-width:85%;
	margin:0 auto;
	padding:0;
}

ul.cnl_v2_Nav {
   /* overflow: hidden;*/
    width: 100%;
}

ul.cnl_v2_Nav li.ui-tabs-active {
   /* border: medium none;*/
}

ul.cnl_v2_Nav li {
    float: left;
    margin:0px;
    list-style-type: none;
    position: relative;
	width:25%;
	/* border-right:1px solid #bc492e; for orange for orange*/
	 background:url(../../images/tabnav_odivider.png)no-repeat center right #ee6b4d; 
	
}
 /*
ul.cnl_v2_Nav li a {
  
    height: 30px;
    padding: 12px 0 6px;
    text-align: center;
    font: bold 16px/30px Arial;
    color: #000;
    display: block;
   background: none repeat scroll 0 0 #ee6b4d; for orange 
  background:#00525e;
}
*/

ul.cnl_v2_Nav li a {
	/* min-width: 216px; */
    color: #000000;
    display: block;
    font: bold 15px/22px Arial;
    height: 22px;
    padding: 10px 0 6px;
    text-align: center;
}

ul.cnl_v2_Nav li.ui-tabs-active a {
    background: none repeat scroll 0 0 #f0eadd;
    color: #000;
    height: 19px;
	cursor:default;
	border-top:3px solid #ee6b4d; 
	border-bottom:none;
}
#tab-1 a {border-left:3px solid #ee6b4d;}
#tab-4 a {border-right:3px solid #ee6b4d;}

.cnl_v2Panel {
    clear: both;
    max-width: 100%;
    min-height: 454px;
    padding: 1px 0px 20px 0px;
	background:#e6d7ba; 

}

.cnl_v2_tickShow{
	float:right;
    height: 20px;
    position: absolute;
    right: 3px;
    top: 2px;
    width: 20px;
	background: url(../../images/kc_assets.png) no-repeat -106px -26px;
}

#cnl_v2_Holder {
    clear: both;
}

.clickText {
    float: left;
    margin: 0 1% 0 0;
    width: 74%;
}
.imageHolder {
    float: right;
    text-align: right;
    width: 25%;
}
.imageHolder > img {
    max-width: 100%;
}

/* for Note 8 landscape*/
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (device-aspect-ratio : 8/5) and (-webkit-min-device-pixel-ratio : 1.33) and (orientation : landscape){
.cnl_v2Panel{ min-width:200px;} 
.fillBlanksContent{ padding:0;}
.fillBlanksContent .contentSec{ padding-bottom:10px;}
.cnl_v2_Wrap{
	margin:10px auto 0;
}

.cnl_v2_Wrap{max-width:85%}
ul.cnl_v2_Nav li{ margin: 0 1px 0 0;}
.infoSec, .instructionTxt p {    font: 15px/33px Arial;}

}

/* for Note 8 Portrait*/
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (device-aspect-ratio : 5/8) and (-webkit-min-device-pixel-ratio : 1.33) and (orientation : portrait){
.cnl_v2_Wrap{
	margin:15% auto 0;
}
.cnl_v2_Wrap { 
max-width:85%;
}
.cnl_v2_tickShow{
	top:0;
	right:3px;
}
}

/************15/10/2013********/
.TabonedataDetails{
	padding:0px 28px;
    min-height: 385px;
	position:relative;
	}
#cnl_v2_Container h2{ 
	background:#f2e4cb;        	
	padding:8px 10px 8px 28px;
	font-size:16px;
	margin:14px 0px 12px 0px;
	}
.orange_downarrow{
	float:right;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom:-6px;
    width: 11px;
	background: url(../../images/orangedownarrow.png) no-repeat 0px 0px;
}
.green_downarrow{
	float:right;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom:-5px;
    width: 11px;
	background: url(../../images/greendownarrow.png) no-repeat 0px 0px;
}
.parameter_learnmore{
	position:absolute;
	bottom:0px; 
	right:0px;
	border-right:5px solid #ee6b4d;
	background: url(../../images/learnmore_bg.png) no-repeat right center;
	width:325px;
	height:32px;
	font:16px/32px arial;
	text-align:right;
	padding-right:20px;
	color:#e4801b;
	font-style:italic;
	}



