/* Page 27 CSS */
.c01_m04_p04 .optionText .txt span {
    vertical-align: top;
}


.c01_m04_p04 .qusWrapper {
    width: 100%;
    background: #f3f1f1;
    height: 360px;
}

.c01_m04_p04 .optionContainer {
    width: 100%;
    height: auto;
    min-height: 360px;
}

.c01_m04_p04 .mcmsContainer .optionContainer:after {
    left: auto;
    background: url(../images/c01_m04_p04_02.jpg) no-repeat;
    background-position: 0 0;
    background-size: 346px 347px;
    margin: 5px;
    right: 0;
    width: 346px;
    height: 348px;
}

.c01_m04_p04 .mcmsQuestion .questSec {
    padding:7px 0 0 0px;
    width: 100%;
}


.c01_m04_p04 #mcmsContainer .submitBtn,
.c01_m04_p04 #mcssContainer .submitBtn {
    left: 29px;
}

.c01_m04_p04 .imgSec {
    display: none;
}

.c01_m04_p04 .mcmsQuestion .questSec p {
    color: #333;
    margin-bottom: 15px;
}

.c01_m04_p04 .mcssInstruction {
    padding-left: 0;
    padding-bottom: 15px;
}

.c01_m04_p04 .optionText {
    padding:10px 0 0 28px;
}

.c01_m04_p04 .optionIcons .checkBox,
.c01_m04_p04 .optionIcons .radio {
    margin: 11px 0 0 0;
}

.c01_m04_p04 .mcmsContainer .optionContainer .row {
    left: 25px;
    top: 10px;
    width: 515px;
}

.c01_m04_p04 .tickIco {
    left: -22px;
}

.c01_m04_p04 .section {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    position: relative;
    height: 100%;
    margin-top: 3px;
    display: none;
}


.c01_m04_p04 .section_01 {
    background: url(../images/c01_m04_p04_01.jpg) no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    display: block;
}



.c01_m04_p04 .closeBtn,
.c01_m04_p04 .closeBtn:hover {
    right: 10px;
    top: 11px;
    background: url(../images/comaaonClose.png) no-repeat 0 0;
    position: absolute;
    float: right;
    font-size: 0px;
    height: 24px;
    width: 23px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.c01_m04_p04 .closeBtn.disabled,
.c01_m04_p04 .closeBtn.disabled:hover {
    cursor: default;
}

.c01_m04_p04 .block_01 {
    background: #016299;
    width: 72%;
    position: absolute;
    bottom: 48px;
    padding: 30px 30px 20px 20px;
    color: #fff;
    left: 115px;
    box-sizing: border-box;
}

.c01_m04_p04 .content {
    width: 100%;
    position: relative;
}

.c01_m04_p04 .content p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
}

.c01_m04_p04 .content p:last-child {
    margin-bottom: 0;
}

.c01_m04_p04 #mcmsContainer {
    width: 962px;
    height: 514px;
    background: #fff;
    margin: 0 auto;
    padding: 30px 10px 30px 50px;
    box-sizing: border-box;
    padding-top: 0px;
}

.c01_m04_p04 .mcmsContainer,
.c01_m04_p04 .mcssContainer {
    float: left;
    width: 100%;
    min-height: 255px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.c01_m04_p04 .optionText .txt ol {
    display: table-cell;
    padding-left: 10px;
    line-height: 21px;
}

.c01_m04_p04 #mcmsFeedbackBox,
.c01_m04_p04 #mcssFeedbackBox {
    background-color: #fff !important;
    position: absolute;
    width: 86%;
    top: 0px;
    right: 0px;
    margin: auto;
    bottom: 0;
    left: 0;
    height: 210px;

}

.c01_m04_p04 #feedbackContent {
    overflow: hidden;
}

.c01_m04_p04 #feedbackContent  p {
    margin-bottom: 10px;
}
.c01_m04_p04 #feedbackContent  p:last-child {
    margin-bottom: 10px;
}

.c01_m04_p04 .tickIco {
    top: 10px;
    left: -20px;
}

.c01_m04_p04 #mcmsContainer .submitBtn .btn_submit, .c01_m04_p04 #mcssContainer .submitBtn .btn_submit {
    position: relative;
    left: 420px;
    bottom: 41px;
    width: 80px;
}

.c01_m04_p04 .optionText .txt span.optno {
    font-weight: 700;
    display: table-cell;
    font-size: 16px;
}

.c01_m04_p04 .optionText .txt ol {
    display: table-cell;
    padding-left: 10px;
    line-height: 21px;
    font-size: 16px;
}

.c01_m04_p04 #feedbackContent {
    height: 282px;
}