@charset "utf-8";

/* CSS Document */

.page_title {
    font-weight: normal;
    padding-bottom: 20px;
    display: block;
    font-size: 20px;
    color: #00338d;
    padding: 16px 0px 0px 0px;
}

#contentHolder {
    position: relative;
}

.contentwrapper {
    padding-top: 45px;
}

#pageContainer * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.iosSlider .slider .item,
#contentHolder,
#pageContainer {
    height: 100%;
}

.contentCont {
    height: calc(100vh - 104px);
    overflow: hidden;
    /* margin-top: 5px; */
}

.mainContent {
    padding: 0px 50px;
}

#pageContainer {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#contentHolder {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0px 37px 0 75px;
}

.textContainer {
    border-top: 1px solid #d43647;
    border-bottom: 1px solid #d43647;
    background: none;
    float: left;
    height: auto;
    left: 49px;
    position: relative;
    top: 108px;
    width: auto;
}

.ins_text,
.Instxt {
    color: #f68d2e;
    padding: 0;
    margin: 1% 0 2%;
    font-style: italic;
    min-height: 18px;
}

.ins_text p{
    display: none;
}    

.btnContainer {
    display: table;
    width: 100%;
    height: 447px;
}

.tab {
    clear: both !important;
    float: left;
    height: auto;
    margin-bottom: 4px;
    margin-right: 0;
    position: relative;
    width: 100%;
    opacity: 0.6;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tab.enabled {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
}

.table_group {
    display: block;
    width: 100%;
    height: 100%;
}

.tabs_group {
    width: 100%;
    display: block;
}

.tab1main {
    float: left;
    width: 164px;
    height: 150px;
    margin-right: 20px;
}

.popup_group {
    width: 100%;
    display: block;
}

.tab p {
    line-height: normal;
    padding: 100px 10px 10px 10px;
    text-align: center;
    font-family: 'KPMG_App';
    font-size: 38px;
    line-height: 30px;
    color: #00338e;
    display: block;
    height: 150px;
}

.tab p span {
    font-size: 13px;
    display: inline-block;
    line-height: 18px;
    display: block;
    font-family: Arial;
    line-height: 15px;
    margin-top: 6px;
}

.intro_text {
    color: #333;
    font-weight: normal;
}

.popupText h3:first-child {
    padding: 0px 0 10px 0;
}

.popupText h3 {
    padding: 10px 0 5px 0;
}

ul.list_o5_o7 {
    margin-left: 0;
}

ul.list_o5_o7 li {
    padding: 0 0 5px;
    background-image: url('../images/bulleticon.jpg');
    background-repeat: no-repeat;
    background-position: left 7px;
    padding-left: 13px;
}

#popup_1_Container,
#popup_2_Container,
#popup_3_Container,
#popup_4_Container,
#popup_5_Container {
    height: 248px;
    width: 100%;
    background: #efefef;
    color: #333;
    padding: 1px;
    overflow: hidden;
    position: relative;
    left: 0px;
}

.tabMain5 {
    margin-right: 0;
}

#tab1,
#tab2,
#tab3,
#tab4,
#tab5 {
    height: 150px;
    width: 164px;
    outline: none;
    float: left;
    margin-right: 20px;
}

#tab1,
#tab1.visited {
    background: url(c01_m03_p06_icons.png) no-repeat;
    background-size: 894px 193px;
    background-position: 0 -8px;
}

#tab2,
#tab2.visited {
    background: url(c01_m03_p06_icons.png) no-repeat;
    background-size: 894px 193px;
    background-position: -183px -8px;
}

#tab3,
#tab3.visited {
    background: url(c01_m03_p06_icons.png) no-repeat;
    background-size: 894px 193px;
    background-position: -364px -8px;
}

#tab4,
#tab4.visited {
    background: url(c01_m03_p06_icons.png) no-repeat;
    background-size: 894px 193px;
    background-position: -547px -8px;
}

#tab5,
#tab5.visited {
    background: url(c01_m03_p06_icons.png) no-repeat;
    background-size: 894px 193px;
    background-position: -730px -8px;
}

#popup_1_Container,
#popup_2_Container,
#popup_3_Container,
#popup_4_Container,
#popup_5_Container {
    width: 164px;
    height: 258px;
    /* margin-bottom: 2px; */
    position: relative;
    box-sizing: border-box;
    float: left;
    margin-right: 20px;
    padding: 10px;
    margin-top: 2px;
}

#popup_5_Container {
    margin-right: 0;
}

.popupContainer {
    display: none;
}

.tab.enabled:not(.selected) {
    cursor: pointer;
}

.popupText li span {
    display: inline-block;
}

.popupText {
    height: 248px;
    overflow: auto;
    width: 100%;
    padding: 5px 5px 0 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .tab p {
        text-align: left;
    }
}


/*******************************************/

.sweep-to-right.tab1main .enabled {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

/* .sweep-to-right.tab1main .enabled:before {
    content: "";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sweep-to-right.tab1main .enabled:hover,
.sweep-to-right.tab1main .enabled :focus,
.sweep-to-right.tab1main .enabled:active {
    color: #FFF;
}

.sweep-to-right.tab1main .enabled:hover:before,
.sweep-to-right.tab1main .enabled:focus:before,
.sweep-to-right.tab1main .enabled:active:before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
} */

.vMore {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1rem;
    width: 56px;
    height: 52px;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: none;
}

.vMore span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    letter-spacing: 0.3px;
    background-image: url(../images/scroll_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.popup_group {
    position: relative;
}

.popupText p {
    padding-bottom: 5px;
    font-size: 14px;
    padding: 0 0 5px 5px;
    color: #000;
}

.popupText ul {
    margin-left: 30px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.popupText li {
    padding-bottom: 5px;
    width: 100%;
    float: left;
    padding-right: 2%;
    font-size: 13px;
    line-height: 15px;
    list-style-type: none;
    color: #000;
    position: relative;
}

.popupText li::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    left: -14px;
    top: -2px;
    font-size: 25px;
    border-bottom: 1px #333 solid;
}

.popupText li:last-child {
    padding-bottom: 0;
}

.popupText ul {
    margin-left: 20px;
    float: left;
    position: relative;
    top: 0;
    transform: none;
    list-style-type: disc;
}

.heighlightedtext {
    color: #6d3919;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    /* .tab p {
        padding-top: 20px;
    }
    #tab1,
    #tab2,
    #tab3,
    #tab4 {
        padding-top: 6px;
    } */
}

.glossaryLink {
    color: #fff !important;
    font-weight: bold;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: underline;
    background: none;
}

.tab.visited:after {
    content: "";
    position: absolute;
    background: url(../images/key_03.png) no-repeat;
    background-position: 0 0;
    right: 5px;
    top: 52px;
    width: 25px;
    height: 25px;
}

.tab.visited {
    opacity: 1 !important;
}