@charset "utf-8";

section.mainContent,
#contentHolder,
#pageContainer,
.wrapper,
.content {
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.page_title {
    padding: 16px 0px 10px 0px;
}

.mainContent div,
.mainContent li,
.mainContent ul,
.mainContent span {
    box-sizing: border-box;
}

#transcriptView {
    float: left;
    width: 100%;
}

#contentHolder {
    position: relative;
    padding-left: 76px;
}

.content {
    position: relative;
    height: calc(100% - 75px);
}

.textContainer {
    border-top: 1px solid #d43647;
    border-bottom: 1px solid #d43647;
    background: none;
    float: left;
    height: auto;
    position: relative;
    width: auto;
}

.Instxt {
    color: #f68e39;
    font: italic 14px/32px Arial;
}

.row1_section {
    position: absolute;
}

.ins_text {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2px;
}

.ins_text p.InstrutationText {
    display: inline-block;
    font-style: italic;
    color: #f18a2e;
    background-color: #fff;
	padding: 0px 30px 0px 0px;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: block;
    width: 100%;
    height: 100%;
}

.popup_inst {
    padding-top: 10px;
    font-style: italic;
    /* color:#f68d2e; */
    color: #fff;
}

.blue_txt {
    color: #005EB8;
    font-weight: bold;
}

.tab.enabled {
    cursor: pointer;
}

.tab.visited .textBlock:after {
    content: "";
    width: 16px;
    height: 16px;
    background: url(../images/Tick-icon.png) no-repeat center center;
    position: absolute;
    right: 10px;
    top: 10px
}

.parentBlock {
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40px;
    max-width: 900px;
    transform: none;
    bottom: 10px;
}


/* .tab {
    width: 264px;
    position: relative;
    height: 50px;
    float: left;
    margin-right: 54px;
    background: yellow;
} */

.tab {
    width: 240px;
    height: 31px;
    background: #6f2177;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    cursor: default;
    position: relative;
    border-radius: 100px;
    float: left;
    margin-left: 55px;
}

#tab3 {
    background: #00a3a1;
}

#tab2 {
    background: #005eb8;
}

.tab p {
    font-family: 'KPMG_App';
    color: #FFF;
    font-size: 20px;
    /* font-weight: 600; */
    letter-spacing: 0.2px;
}

@media screen and (min-width:0\0) {
    .tab p {
        line-height: 29px;
    }
}

.tab:before {
    content: ' ';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 226px;
    height: 23px;
    /*   background: #6f2177; */
    z-index: 1;
    border-radius: 95px;
}

.tab:after {
   content: ' ';
    width: 111px;
    height: 24px;
    border-radius: 86px;
    z-index: 2;
    border: 2px solid #fff;
    position: absolute;
    transition-duration: 500ms;
    top: 1px;
    left: 2px;
    box-shadow: 0 2px 5px #999999;
}

.switchOn,
.switchOn:before {
    /*   background: #009a44 !important; */
}

.switchOn:after {
    left: 125px;
}

.tab .leftBtn {
    position: absolute;
    width: 50%;
    height: 30px;
    float: left;
    z-index: 3;
    /* padding-left: 13px; */
    padding-top: 2px;
    text-align: center;
}

.tab .leftBtn p {
    color: #fff;
}
.tab.switchOn .leftBtn p {
    color: rgba(255, 255, 255, 0.6);
}

/* .tab.switchOn .RightBtn p {
    color: #333;
} */
.tab .leftBtn.active p,.tab .RightBtn.active p{
	color:#333;
	 z-index: 1;
    position: relative;
}
.tab .leftBtn.active:after,.tab .RightBtn.active:after{
	content: " ";
    width: 111px;
    height: 24px;
    position: absolute;
    transition-duration: 500ms;
    top: 1px;
    left: 2px;
    border-radius: 86px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
	color: #333;
	background-color:#fff;
	z-index: 0;
}

.tab .RightBtn {
    position: absolute;
    width: 50%;
    height: 30px;
    float: left;
    right: 0;
    z-index: 3;
    box-sizing: border-box;
    text-align: center;
    padding-right: 0;
    padding-top: 2px;
	cursor: default;
}
.tab.enabled .RightBtn{
    cursor: pointer;
}
.tab .leftBtn.active,.tab .RightBtn.active{
	cursor:default;
}
/* .tab .RightBtn p {
    color: rgba(255, 255, 255, 0.6);
} */


/* .tab .slideAnimation {
    width: 50%;
    background: white;
    height: 50px;
    position: absolute;
    z-index: 0;
} */



#popup_1_Container,
#popup_2_Container,
#popup_3_Container {
    /*   width: 307px; */
    width: 270px;
    height: auto;
    margin-bottom: 0;
    position: absolute;
    box-sizing: border-box;
    margin-right: 0;
    bottom: 52px;
    left: 24px;
    background: #6d2077;
    color: #fff;
    font-weight: normal;
    padding: 20px;
    border-radius: 10px;
}

.popup_group .closeBtn {
    right: 4px;
    top: 5px;
}

.popup_group #popup_2_Container {
    background: #005eb8;
}

.popup_group #popup_3_Container {
    background: #00a3a1;
}

#popup_2_Container {
    left: 320px;
}

#popup_3_Container {
    left: 615px;
}

#popup_1_Container .h2,
#popup_2_Container .h2,
#popup_3_Container .h2 {
    font-family: 'KPMG_App';
    font-size: 28px;
}

.popup_group {
    width: 100%;
    display: block;
}

.tab3 {
    margin-right: 0px;
}

.parentBlock .textBlock {
    max-width: 100%;
    text-align: center;
    background: #00a3a1;
}

.parentBlock .imageBlock {
    position: relative;
}

.parentBlock .imageBlock {
    height: 198px;
    margin: 0;
    background-size: 100% 100%;
    margin-bottom: 0.5px;
}

.parentBlock .tab .imageBlock {
    background: rgba(0, 0, 0, 0) url("c01_m04_p08_img3.jpg") no-repeat left top;
    background-size: cover;
}

.parentBlock .tab3 .imageBlock {
    background: rgba(0, 0, 0, 0) url("c01_m04_p08_img3.jpg") no-repeat left top;
}

.parentBlock .tab2 .imageBlock {
    background: rgba(0, 0, 0, 0) url("c01_m04_p08_img2.jpg") no-repeat left top;
}

.parentBlock .tab1 .imageBlock {
    background: rgba(0, 0, 0, 0) url("c01_m04_p08_img1.jpg") no-repeat left top;
}

.parentBlock .textBlock {
    height: 90px;
    position: relative;
    width: 100%;
}

.parentBlock .tab1 .textBlock {
    background: #017dbb;
}

.parentBlock .tab2 .textBlock {
    background: #48369a;
}

.parentBlock .tab3 .textBlock {
    background: #00338e;
}

.parentBlock h3 {
    font-family: kpmg_app;
    font-size: 28px;
    color: #fff;
    font-weight: normal;
    text-align: left;
    display: block;
    line-height: 28px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    box-sizing: border-box;
}

.parentBlock .tab1 h3,
.parentBlock .tab2 h3,
.parentBlock .tab3 h3 {
    padding: 8px 20px 14px 20px;
    text-align: center;
}


/*---------------- Popup------------------- */

.popupContainer {
    position: absolute;
    /* top: 21%; */
    left: 0;
    width: 901px;
    /* height: 430px; */
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.popupContentWraper {
    font: 16px arial;
    padding: 0;
    line-height: 22px;
    width: 96%;
    /* height: 100%; */
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
}

.popupContentParent {
    height: 100%;
    background: #6d2077;
    border: 2px solid #6d2077;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.popupContentParent.popup_2 {
    background: #005eb8;
    border: 2px solid #005eb8;
}

.popupContentParent.popup_3 {
    background: #00a3a1;
    border: 2px solid #00a3a1;
}

.popupContentParent.popup_4 {
    background: #0091da;
    border: 2px solid #0091da;
}

.popupContentParent.popup_4 .popup_title,
.popupContentParent.popup_3 .popup_title,
.popupContentParent.popup_2 .popup_title,
.popupContentParent.popup_1 .popup_title {
    display: none;
}

.popup_rightpart,
.popup_leftpart {
    width: 50%;
    height: 100%;
}

.popup_rightpart {
    /*  background: #007dba url(c01_m04_p08_img1_popup_img_1.jpg) no-repeat center center; */
    background-size: cover;
    float: right;
    /*  border-left: 2px solid #007dba; */
}


.popup_leftpart {
    float: left;
    padding-right: 20px;
}

.popup_rightpart {
    padding-left: 20px;
}

.popup_title {
    font-family: 'KPMG_App';
    font-size: 28px;
    color: #fff;
    line-height: 35px;
    padding: 0 10px;
    height: 39px;
}

.popup_content {
    padding: 10px 19px;
    height: calc(100% - 45px);
    overflow: auto;
}

.popup_content p {
    margin-bottom: 10px;
    line-height: 20px;
}

.closeBtn {
    right: 9px;
    top: 10px;
    background: url(../images/comaaonClose.png) no-repeat 0 0;
    position: absolute;
    float: right;
    font-size: 0px;
    height: 24px;
    width: 23px;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.closeBtn:hover {
    color: #000;
}

.popupContentWraper ul {
    margin-left: 30px;
    margin-top: 5px;
}

.popupContentWraper li {
    padding-bottom: 10px;
}

.popupContentWraper ul {
    list-style: disc;
}


/* .popup_1 {
    border: 2px solid #017dbb;
}

.popup_1 .popup_title {
    background: #017dbb;
}

.popup_1 .popup_rightpart {}

.popup_2 {}

.popup_2 .popup_title {
  background: #48369a; 
}

.popup_2 .popup_rightpart {}

.popup_3 {}

.popup_3 .popup_title {
    background: #00338e;
}

.popup_3 .popup_rightpart {}

 */


/*-----------IE11 hack---------------*/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .popup_title {
        line-height: 44px;
    }

    .parentBlock h3 {
        top: 53%;
    }
}


/*-----------IE11 hack---------------*/


/*alpha 2 update*/

.topTextCont {
    max-width: 900px;
    margin-top: 15px;
}

.topTextCont p {
    margin-bottom: 10px;
}

.topTextCont p:last-child {
    margin-bottom: 0px;
}

.character_bg {
    background: url(charactr_bg.jpg) no-repeat left top;
    width: 900px;
    position: relative;
}

.parentBlock {}